<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h4>Add a review for <%= @restaurant.name %></h4>
      <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content, placeholder: "Amazing!" %>
       <%= f.input :rating, collection: Review::RATINGS, prompt: "1 to 5" %>
      <%= f.submit "submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

